.center {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.analysis {
  text-align: center;
}

.uploadPictureContainer {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.analysis {
  padding: 20px;
}

.fileContainer .uploadPicturesWrapper .uploadPictureContainer {
  width: 100%;
  all: initial;
  * {
    all: unset;
  }
}

.fileUploader {
  width: 100%;
}

.fileContainer {
  background: #fff;
  position: relative;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  transition: all 0.3s ease-in;
}

.fileContainer input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.fileContainer p {
  font-size: 12px;
  margin: 8px 0 4px;
}

.fileContainer .errorsContainer {
  max-width: 100%;
  font-size: 12px;
  color: red;
  text-align: left;
}

.fileContainer .chooseFileButton {
  padding: 6px 23px;
  background: #3f4257;
  border-radius: 30px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
}

.fileContainer .chooseFileButton:hover {
  background: #545972;
}

.fileContainer .uploadFilesButton {
  padding: 5px 55px;
  background: transparent;
  border-radius: 30px;
  color: #3f4257;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: 1px solid #3f4257;
}

.fileContainer .uploadFilesButton:hover {
  background: #3f4257;
  color: #fff;
}

.fileContainer .uploadIcon {
  width: 100px;
  height: 100px;
  background: url(add_image.svg);
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}

.fileContainer .uploadPicturesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.fileContainer .uploadPictureContainer {
  width: 25%;
  margin: 5%;
  padding: 10px;
  background: #edf2f6;
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 90px;*/
  /*box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);*/
  border: 1px solid #d0dbe4;
  position: relative;
}

.fileContainer .uploadPictureContainer img.uploadPicture {
  width: 100%;
}

.fileContainer .deleteImage {
  /*display: none;*/
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 14px;
  color: #fff;
  background: #F95F75;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

* {
  font-family: 'Open Sans', sans-serif;
}