.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.uploadPictureContainer {
  width: 100%;
  height: auto;
}

.deleteImage {
  display: none;
}

.uploadPicture {}

.buttonClassName {}

.hide {
  display: none;
}

.analysis {
  float: left;
}

.fileContainer .uploadPicturesWrapper .uploadPictureContainer {
  width: 100%;
  all: initial;
  * {
    all: unset;
  }
}